body {
  margin: 0;
  font-family: var(--primary-font-family), Verdana, Tahoma, arial, sans-serif;
  font-weight: 400;
  background-color: var(--dominant-text-color);
  color: var(--usual-text-color);
}

body.modal-open {
  overflow: hidden;
}

button {
<<<<<<< Updated upstream
  display: block;
=======
  display: inline-flex;
>>>>>>> Stashed changes
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
