@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("/fonts/DMSans-Medium.woff2") format("woff2"), url("/fonts/DMSans-Medium.woff") format("woff"), url("/fonts/DMSans-Medium.ttf") format("truetype"), url("/fonts/DMSans-Medium.svg#DMSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("/fonts/DMSans-Bold.woff2") format("woff2"), url("/fonts/DMSans-Bold.woff") format("woff"), url("/fonts/DMSans-Bold.ttf") format("truetype"), url("/fonts/DMSans-Bold.svg#DMSans-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("/fonts/DMSans-Regular.woff2") format("woff2"), url("/fonts/DMSans-Regular.woff") format("woff"), url("/fonts/DMSans-Regular.ttf") format("truetype"), url("/fonts/DMSans-Regular.svg#DMSans-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titan One";
  src: local("Titan One"), url("/fonts/TitanOne.woff2") format("woff2"), url("/fonts/TitanOne.woff") format("woff"), url("/fonts/TitanOne.ttf") format("truetype"), url("/fonts/TitanOne.svg#TitanOne") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --primary-font-family: "DM Sans";
  --alternative-font-family: "Titan One";
  --accent-text-color: #d41443;
  --dominant-text-color: #ffffff;
  --alternative-text-color: #907e82;
  --usual-text-color: #000000;
  --accent-backgroung-color: #ffb8ca;
  --title-accent-color: #ffa5ba;
  --slider-color: #d31342;
  --inactive-slider-color: #d9d9d9;
  --agency-color: #f0d1a5;
  --alternative-agency-color: #c2e297;
  --quotes-color: #e1e1e1;
  --point-review-color: #c7133e;
  --sosials-inactive-color: #fea5bb;
  --border-mobile-menu-color: #e18298;
  --background-mobile-menu-color: #e17992;
}

body {
  margin: 0;
  font-family: var(--primary-font-family), Verdana, Tahoma, arial, sans-serif;
  font-weight: 400;
  background-color: var(--dominant-text-color);
  color: var(--usual-text-color);
}

body.modal-open {
  overflow: hidden;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(227, 129, 236, 0.3);
  z-index: 99;
  overflow: scroll;
  transition: opacity 200ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .mobile-menu {
  transform: translate(100%, 0%);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header {
  top: 0;
  position: absolute;
  width: 100%;
  padding-top: 8px;
  overflow: hidden;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 36px;
  }
}

.site-nav {
  display: flex;
}

.logo {
  margin-right: 128px;
}

.burger {
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .burger {
    display: none;
  }
}

.menu {
  display: none;
}
@media screen and (min-width: 1200px) {
  .menu {
    display: flex;
    gap: 35px;
    align-items: center;
  }
}

.button-tablet {
  display: none;
  width: 160px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent-text-color);
  background-color: var(--dominant-text-color);
  margin-left: 32px;
}
@media screen and (min-width: 1200px) {
  .button-tablet {
    margin-left: 141px;
  }
}
.button-tablet:hover, .button-tablet:focus, .button-tablet:active {
  background-color: var(--alternative-agency-color);
}
@media screen and (min-width: 768px) {
  .button-tablet {
    display: block;
  }
}

.icon-arrow {
  margin-left: 10px;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 504px;
  opacity: 1;
  visibility: visible;
  background-color: var(--background-mobile-menu-color);
  transition: transform 250ms linear 250ms;
  box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 254px;
    height: 100vh;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.menu-close {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.menu-close__button {
  margin-right: 20px;
  padding: 6px;
}

.buy-wrap {
  display: flex;
  justify-content: center;
}

.buy-btn {
  width: 209px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  margin-top: 26px;
  margin-bottom: 20px;
  color: var(--accent-text-color);
  background-color: var(--dominant-text-color);
}
.buy-btn:hover, .buy-btn:focus, .buy-btn:active {
  background-color: var(--alternative-agency-color);
}
@media screen and (min-width: 768px) {
  .buy-btn {
    width: 180px;
  }
}

.icon-arrow {
  margin-left: 14px;
}
@media screen and (min-width: 768px) {
  .icon-arrow {
    margin-left: 10px;
  }
}

.menu__item {
  border-top: 1px solid var(--border-mobile-menu-color);
}
.menu__item:last-child {
  border-bottom: 1px solid var(--border-mobile-menu-color);
}

.menu__link {
  display: block;
  padding: 12px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: var(--dominant-text-color);
  margin-left: 20px;
}
.menu__link:hover, .menu__link:focus, .menu__link:active {
  color: var(--accent-text-color);
}
@media screen and (min-width: 1200px) {
  .menu__link {
    font-size: 16px;
    line-height: 1.31;
    margin-left: 0px;
  }
}

.hero {
  background: var(--accent-backgroung-color);
}

.hero__wrap {
  display: flex;
}

.hero__title {
  width: 218px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--dominant-text-color);
}

.hero__title__word {
  font-size: 48px;
  line-height: 0.95;
  color: var(--accent-text-color);
}

.hero__title--button {
  display: inline-flex;
  margin-top: 20px;
}

.hero__title__button:first-child {
  margin-right: 8px;
}

.hero__title__button {
  background-color: var(--accent-text-color);
  height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: var(--dominant-text-color);
  border: none;
  border-radius: 20px;
}

.hero__title__button:hover {
  background-color: var(--dominant-text-color);
  color: var(--accent-text-color);
}

.hero__ice-cream {
  margin-top: 34px;
  margin-left: auto;
}
.hero__title__wrap {
  position: absolute;
  margin-top: 136px;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .hero__title__wrap {
    margin-top: 20px;
  }
}

.hero__circle {
  right: 0px;
  position: absolute;
  top: 82px;
}

.hero__ice-cream-pic {
  position: relative;
  margin-right: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container__products {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.products__suptitle {
  display: block;
  font-family: var(--alternative-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-accent-color);
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .products__suptitle {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .products__suptitle {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
  }
}

.products__title {
  font-family: var(--alternative-font-family);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--slider-color);
  margin-bottom: 148px;
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 48px;
    margin-bottom: 158px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    margin-bottom: 281px;
  }
}

@media screen and (min-width: 768px) {
  .product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.product__item {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  perspective: 1500px;
  min-height: 489px;
  max-width: 400px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .product__item {
    width: calc((100% - 32px) / 3);
    min-height: 473px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .product__item {
    width: calc((100% - 64px) / 3);
    min-height: 535px;
  }
}
@media screen and (max-width: 767.98px) {
  .product__item:not(:last-child) {
    margin-bottom: 140px;
  }
}
@media screen and (min-width: 768px) {
  .product__item:not(:last-child) {
    margin-right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .product__item:not(:last-child) {
    margin-right: 32px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding-top: 160px;
}
@media screen and (min-width: 768px) {
  .card {
    padding-top: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    padding-top: 165px;
  }
}
.card::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
@media screen and (max-width: 767.98px) {
  .card::before {
    top: -140px;
    width: 280px;
    height: 280px;
  }
}
@media screen and (min-width: 768px) {
  .card::before {
    top: -138px;
    width: 224px;
    height: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .card::before {
    top: -261px;
    width: 368px;
    height: 394px;
  }
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  transition: transform 500ms linear;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.product__item.is-flipped .front {
  transform: rotateY(180deg);
}

.product__item.is-flipped .back {
  transform: rotateY(360deg);
}

.card--first {
  background-color: var(--accent-backgroung-color);
}
.card--first::before {
  background-image: url(../images-all/products/mobile/ice-cream@1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
  .card--first::before {
    background-image: url(../images-all/products/mobile/ice-cream@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .card--first::before {
    background-image: url(../images-all/products/tablet/ice-cream@1x.png);
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .card--first::before {
    background-image: url(../images-all/products/tablet/ice-cream@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .card--first::before {
    background-image: url(../images-all/products/desctop/ice-cream@1x.png);
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) {
  .card--first::before {
    background-image: url(../images-all/products/desctop/ice-cream@2x.png);
  }
}

.card--second {
  background-color: var(--agency-color);
}
.card--second::before {
  background-image: url(../images-all/products/mobile/ice-coffee@1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
  .card--second::before {
    background-image: url(../images-all/products/mobile/ice-coffee@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .card--second::before {
    background-image: url(../images-all/products/tablet/ice-coffee@1x.png);
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .card--second::before {
    background-image: url(../images-all/products/tablet/ice-coffee@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .card--second::before {
    background-image: url(../images-all/products/desctop/ice-coffee@1x.png);
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) {
  .card--second::before {
    background-image: url(../images-all/products/desctop/ice-coffee@2x.png);
  }
}

.card--third {
  background-color: var(--alternative-agency-color);
}
.card--third::before {
  background-image: url(../images-all/products/mobile/milkshake@1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
  .card--third::before {
    background-image: url(../images-all/products/mobile/milkshake@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .card--third::before {
    background-image: url(../images-all/products/tablet/milkshake@1x.png);
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .card--third::before {
    background-image: url(../images-all/products/tablet/milkshake@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .card--third::before {
    background-image: url(../images-all/products/desctop/milkshake@1x.png);
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) {
  .card--third::before {
    background-image: url(../images-all/products/desctop/milkshake@2x.png);
  }
}

.card__title {
  position: relative;
  font-family: var(--alternative-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--dominant-text-color);
  margin-bottom: 70px;
}
@media screen and (min-width: 1200px) {
  .card__title {
    font-size: 30px;
    line-height: 1.13;
  }
}

.card__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -35px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--dominant-text-color);
  box-shadow: 10px 0 0 var(--dominant-text-color), -10px 0 0 var(--dominant-text-color);
}

.card__text {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--dominant-text-color);
  margin: 0 auto 32px;
  padding-left: 41px;
  padding-right: 39px;
}
@media screen and (min-width: 768px) {
  .card__text {
    line-height: 1.76;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .card__text {
    font-size: 16px;
    padding-left: 64px;
    padding-right: 63px;
    margin-bottom: 60px;
  }
}

.card__button {
  position: absolute;
  left: 50%;
  bottom: 32px;
  transform: translateX(-50%);
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: var(--dominant-text-color);
  cursor: pointer;
}

.card__icon {
  fill: var(--accent-text-color);
  width: 12px;
  height: 12px;
}

.card__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 41px;
  padding-right: 39px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .card__item {
    line-height: 1.76;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    font-size: 16px;
    padding-left: 64px;
    padding-right: 63px;
    margin-bottom: 60px;
  }
}
.card__item:not(:last-child) {
  margin-bottom: 20px;
}

.card__name,
.card__price {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.52;
  text-align: start;
  letter-spacing: 0.04em;
  max-width: 200px;
  color: var(--dominant-text-color);
}

.gallery {
  max-width: 1200px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */