@font-face {
    font-family: 'DM Sans';
    src: local('DM Sans'),
        url('/fonts/DMSans-Medium.woff2') format('woff2'),
        url('/fonts/DMSans-Medium.woff') format('woff'),
        url('/fonts/DMSans-Medium.ttf') format('truetype'),
        url('/fonts/DMSans-Medium.svg#DMSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: local('DM Sans'),
        url('/fonts/DMSans-Bold.woff2') format('woff2'),
        url('/fonts/DMSans-Bold.woff') format('woff'),
        url('/fonts/DMSans-Bold.ttf') format('truetype'),
        url('/fonts/DMSans-Bold.svg#DMSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: local('DM Sans'),
        url('/fonts/DMSans-Regular.woff2') format('woff2'),
        url('/fonts/DMSans-Regular.woff') format('woff'),
        url('/fonts/DMSans-Regular.ttf') format('truetype'),
        url('/fonts/DMSans-Regular.svg#DMSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titan One';
    src: local('Titan One'),
        url('/fonts/TitanOne.woff2') format('woff2'),
        url('/fonts/TitanOne.woff') format('woff'),
        url('/fonts/TitanOne.ttf') format('truetype'),
        url('/fonts/TitanOne.svg#TitanOne') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}