<section class="hawe-its section" id="how">
  <div class="how-it-background-image">
    <div class="hawe-it">
      <div class="hawe-it-main">
        <p class="hawe-it-main-title">TRADITION AND LOVE</p>
        <h2 class="hawe-it-second-title">HAW IT'S MADE?</h2>
      </div>
      <div class="hawe-it-container">
        <ul class="hawe-it-item it-background">
          <li class="hawe-it-list">


            <picture class="hawe-it-list-img">
              <source
                srcset="./images-all/how-it/how-it-mob.png 1x,./images-all/how-it/how-it-mob@2x.png 2x"
                media="(max-width: 767px)"
              />
              <source
                srcset="./images-all/how-it/how-it-tab.png 1x,./images-all/how-it/how-it-tab@2x.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="./images-all/how-it/how-it-desk.png 1x,./images-all/how-it/how-it-desk@2x.png 2x"
                media="(min-width: 1200px)"
              />
              <img
                
                src="./images-all/how-it/how-it-desk.png"
                alt="Сow with milk"
              />
            </picture>
            <!-- <img
            class="hawe-it-list-img"
            srcset="./images-all/how-it/how-it-mob.png 480w, ./images-all/how-it/how-it-tab.png 768w, ./images-all/how-it/how-it-desk.png 1200w"
            sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, 480vw"
            src="./images-all/how-it/how-it-mob.png"
            alt="Сow with mil"
          /> -->


          </li>
          <li class="hawe-it-list">
            <p class="hawe-it-text">
              <b
                >Fusce ut velit laoreet, tempus arcu eu, molestie tortor. 
                Nam vel justo cursus, faucibus lorem eget, egestas eros. 
                Maecenas eleifend erat at justo fringilla.</b
              >
            </p>
            <p class="hawe-it-about">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. 
              Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, 
              a feugiat urna maximus. Cras massa nibh, tincidunt.
            </p>
            <p class="hawe-it-about-two">
              Aliquam erat volutpat. Aenean accumsan.
            </p>
            <button class="hawe-its-btn" href="#" type="button">
              Read more
              <svg class="ico-read-more" width="6" height="8">
                <use
                  href="../Icons/Icons.svg#icon-buy-arrow"
                ></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
</section>
