<div data-modal-2 class="backdrop-how is-hidden">
    <div class="modal-how">
        <button type="button" class="modal-how__close-btn" data-modal-2-close>
            <svg class="modal__close-icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-how__wrap">
            <h1 class="modal-how__title">So How?</h1>
            <p class="modal-how__text">
                You might know IceCream for our chunks and swirls,
                but you might not know everything that goes in to how we make
                our ice cream. Relive our ice cream’s out-of-pint experiences and how our
                euphoric flavors travel from the cow on the
                farm to the cone in one of our ice cream shops or a pint in your freezer.
            </p>
            <div class="picture-conntainer"> 
                <picture class="modal-cow-img">
                    <source srcset="
                                    ./images/how/cow-milk-modal-desc.png 1x, 
                                    ./images/how/cow-milk-modal-desc-2x.png 2x
                                    " media="(min-width: 1200px)">
                    <source srcset="
                                    ./images/how/cow-milk-modal-tab.png 1x, 
                                    ./images/how/cow-milk-modal-tab-2x.png 2x
                                    " media="(min-width: 768px)">
                    <source srcset="
                                    ./images/how/cow-milk-modal-mob.png 1x, 
                                    ./images/how/cow-milk-modal-mob-2x.png 2x
                                    " media="(min-width: 320px)">
                    <img src="./images/how/cow-milk-modal-mob.png" alt="Корова и молоко" class="how-list__img">
                </picture>
            </div>
            <p class="modal-how__text">
                It all starts, of course, with the cow. Not just one, but tens of thousands of them –
                from the hundreds of local farms
                that sell their raw milk to the St. Albans Cooperative Creamery in St. Albans, Vermont.
                Learn more about Caring Dairy!
            </p>
            <h2 class="modal-how-bottom-title">Learn more !</h2>
            
            <ul class="modal-how-social-list">
                <li class="modal-how-social-list__item">
                    <a href="" class="social__link">
                        <svg class="social__icon" width="34" height="34">
                            <use href="/src/images/sprite.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="modal-how-social-list__item">
                    <a href="" class="social__link">
                        <svg class="social__icon" width="34" height="34">
                            <use href="/src/images/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="modal-how-social-list__item">
                    <a href="" class="social__link">
                        <svg class="social__icon" width="10" height="20">
                            <use href="/src/images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>