<section class="have-its section" id="how">
  <div class="container have__container">
    <div class="have-it-main">
      <p class="have-it-main-title">TRADITION AND LOVE</p>
      <h2 class="have-it-second-title">HAW IT'S MADE?</h2>
    </div>
    <div class="have-it-container">
      <ul class="have-it-item">
        <li class="have-it-list">
          <picture>
            <source
              srcset="
                ./images-all/how-it/how-it-desk.png    1x,
                ./images-all/how-it/how-it-desk@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images-all/how-it/how-it-tab.png    1x,
                ./images-all/how-it/how-it-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images-all/how-it/how-it-mob.png    1x,
                ./images-all/how-it/how-it-mob@2x.png 2x
              "
            />

            <img class="have-it-list-img" src="./images-all/how-it/how-it-mob.png" alt="Сow with milk" />
          </picture>
        </li>
        <li class="have-it-list have-it-list-special">
          <p class="have-it-text">
            <b
              >Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
              justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
              erat at justo fringilla.</b
            >
          </p>
          <p class="have-it-about">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt.
          </p>
          <p class="have-it-about-two">
            Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button class="have-its-btn" href="#" type="button">
            Read more
            <svg class="ico-read-more" width="6" height="8">
              <use href="../Icons/Icons.svg#icon-buy-arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
