<section class="have section" id="how-made">
  <div class="have__container container">
    <div class="have__main">
      <p class="have__title">tradition and love</p>
      <h2 class="have__title-second">how it's made?</h2>
    </div>
    <div class="have-about">
      <ul class="have-about__item">
        <li class="have-about__list have-about__picture">
          <picture>
            <source
              srcset="
                /src/Images/how-it/how-it-desk.png    1x,
                /src/Images/how-it/how-it-desk@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /src/Images/how-it/how-it-tab.png    1x,
                /src/Images/how-it/how-it-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /src/Images/how-it/how-it-mob.png    1x,
                /src/Images/how-it/how-it-mob@2x.png 2x
              "
            />

            <img
              class="have-about__list-img"
              src="/src/Images/how-it/how-it-mob.png"
              alt="Сow with milk"
            />
          </picture>
        </li>
        <li class="have-about__list have-about__list--special">
          <p class="have-about__text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.
          </p>
          <p class="have-about__description">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, <span class="tincidunt">tincidunt.</span>
          </p>
          <p class="have-about__description--two">
            Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button class="have-its-btn" href="#" type="button">
            Read more
            <svg class="ico-read-more" width="6" height="8">
              <use href="/src/Images/Icons-main.svg#icon-buy-arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
