<section class="section section__advantages">
  <div class="container">
    <h2 class="title-hidden">Advantages</h2>
    <ul class="advantages">
      <li class="advantages__item">
        <p class="advantages__quantity">721</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__quantity">16kg</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__quantity">84</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
