<section class="section section__advantages">
  <div class="container container__advantages">
    <h2 class="title-hidden">Advantages</h2>
    <ul class="advantages">
      <li class="advantages__item advantages__item--png1">
        <p data-digits-counter class="advantages__quantity">721</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--png2">
        <p data-digits-counter class="advantages__quantity">16</p>
        <span class="advantages__quantity--unit">kg</span>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--png3">
        <p data-digits-counter class="advantages__quantity">84</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
