<section class="section contacts" id="contact">
  <div class="container contacts-container">
    <h2 class="title-hidden">contacts</h2>
    <ul class="content">
      <li class="content__list">
        <div class="content__block">
          <p class="content__name">cafe</p>
          <h3 class="content__city">Chicago</h3>
          <p class="content__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="content__block content__block--day">
          <ul>
            <li class="space">
              <p class="content__day">Monday - Friday</p>
              <p class="content__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="content__day">Saturday - Sunday</p>
              <p class="content__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <ul class="adress">
          <li class="adress-link">
            <a href="tel:+610383766284">+61(0)383 766 284</a>
          </li>
          <li class="adress-link">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="content__list">
        <div class="content__block">
          <p class="content__name content__name--truck">food truck</p>
          <h3 class="content__city">Los Angeles</h3>
          <p class="content__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="content__block content__block--day">
          <ul>
            <li class="space">
              <p class="content__day">Monday - Friday</p>
              <p class="content__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="content__day">Saturday - Sunday</p>
              <p class="content__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <ul class="adress">
          <li class="adress-link">
            <a href="tel:+610383766284">+61(0)383 766 284</a>
          </li>
          <li class="adress-link">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="content__list">
        <div class="content__block">
          <p class="content__name">cafe</p>
          <h3 class="content__city">New York</h3>
          <p class="content__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="content__block content__block--day">
          <ul>
            <li class="space">
              <p class="content__day">Monday - Friday</p>
              <p class="content__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="content__day">Saturday - Sunday</p>
              <p class="content__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <ul class="adress">
          <li>
            <a class="adress-link" href="tel:+610383766284"
              >+61(0)383 766 284</a
            >
          </li>
          <li>
            <a class="adress-link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <button type="button" class="button__contacts" data-modal-map-open>
      Our Locations
      <svg class="arrow" width="6" height="8" aria-label="Exit to locations">
        <use href="/src/images/sprite.svg#icon-arrow-wite"></use>
      </svg>
    </button>
    <button
      type="button"
      class="button__contacts button__contacts--invers"
      data-modal-franchise-open
    >
      Franchise
      <svg class="arrow" width="6" height="8" aria-label="Exit to franchise">
        <use href="/src/images/sprite.svg#icon-arrow--red"></use>
      </svg>
    </button>
  </div>
</section>
