<section class="section contacts" id="contact">
  <div class="container contacts-container">
    <h2 class="title-hidden">contacts</h2>
    <ul class="content">
      <li class="content__list">
        <h3 class="content__name">cafe</h3>
        <div class="content__block">
          <p class="content__city">Chicago</p>
          <p class="content__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="content__block content__block--day">
          <p class="content__day">Monday - Friday</p>
          <p class="content__time space">06:00 AM - 10:00 PM</p>
          <p class="content__day">Saturday - Sunday</p>
          <p class="content__time">08:00 AM - 16:00 PM</p>
        </div>
        <adress class="adress">
          <a href="tel:+610383766284">+61(0)383 766 284</a> <br />
          <a href="mailto:noreply@envato.com">noreply@envato.com</a> <br />
        </adress>
      </li>
      <li class="content__list">
        <h3 class="content__name content__name--truck">food truck</h3>
        <div class="content__block">
          <p class="content__city">Los Angeles</p>
          <p class="content__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="content__block content__block--day">
          <p class="content__day">Monday - Friday</p>
          <p class="content__time space">06:00 AM - 10:00 PM</p>
          <p class="content__day">Saturday - Sunday</p>
          <p class="content__time">08:00 AM - 16:00 PM</p>
        </div>
        <adress class="adress">
          <a href="tel:+610383766284">+61(0)383 766 284</a> <br />
          <a href="mailto:noreply@envato.com">noreply@envato.com</a> <br />
        </adress>
      </li>
      <li class="content__list">
        <h3 class="content__name">cafe</h3>
        <div class="content__block">
          <p class="content__city">New York</p>
          <p class="content__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="content__block content__block--day">
          <p class="content__day">Monday - Friday</p>
          <p class="content__time space">06:00 AM - 10:00 PM</p>
          <p class="content__day">Saturday - Sunday</p>
          <p class="content__time">08:00 AM - 16:00 PM</p>
        </div>
        <adress class="adress">
          <a href="tel:+610383766284">+61(0)383 766 284</a> <br />
          <a href="mailto:noreply@envato.com">noreply@envato.com</a> <br />
        </adress>
      </li>
    </ul>
    <div class="contacts__buttoms">
      <button type="button" class="button__contacts" data-modal-map-open>
        Our Locations
        <svg class="arrow" width="6" height="8" aria-label="Exit to locations">
          <use href="/src/Images/Icons-main.svg#icon-arrow-wite"></use>
        </svg>
      </button>
      <button type="button" class="button__contacts button__contacts--invers">
        Franchise
        <svg class="arrow" width="6" height="8" aria-label="Exit to franchise">
          <use href="/src/Images/Icons-main.svg#icon-arrow--red"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<div class="backdrop-contacts is-hidden" data-modal-map>
  <div class="modal__map">
    <div class="modal__close--pos">
      <button class="modal__button-close" data-modal-map-close>
        <svg class="modal__icon" width="18" height="18" aria-label="close map">
          <use href="/src/Images/Icons-main.svg#icon-close_40px-1"></use>
        </svg>
      </button>
    </div>
    <div class="modal__container">
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13086087.464807888!2d-98.9944980446075!3d36.798252823794286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sro!4v1660402427918!5m2!1sru!2sro"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
</div>
