<section class="section">
  <div class="container">
    <h2 class="customer-reviews__titile title-hidden">Customer reviews</h2>
    <div class="customer-reviews__slider slider">
      <div class="slider__item">
        <div class="slider__body">
          <img
            class="slider__img"
            src="./images-all/foto-customer-reviews1.png"
            width="85"
            height="85"
            alt="reviews1"
          />
          <div class="slider__text">
            <p>
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>

        <p class="slider__city">Emily, Los Angeles</p>
      </div>
      <div class="slider__item"></div>
      <div class="slider__item"></div>
    </div>
  </div>
</section>
