<section class="section reviews-section" id="about-us">
  <div class="container">
    <h2 class="customer-reviews__titile title-hidden">Customer reviews</h2>
    <div class="customer-reviews__slider slider">
      <div class="slider__item">
        <div class="slider__body">
          <img
            class="slider__img"
            srcset="
              /src/images/customer-reviews/foto-customer-reviews1.png    1x,
              /src/images/customer-reviews/foto-customer-reviews1@2x.png 2x
            "
            src="/src/images/customer-reviews/foto-customer-reviews1.png"
            width="85"
            height="85"
            alt="reviews1"
          />
          <div class="slider__drope">
            <div class="slider__gradient">
              <p class="slider__text">
                Very good store. I didn't see it and didn't expect it. Quality
                and range. Fast shipping, thanks and good luck to the Crem Code
                team!!!!
              </p>
            </div>
          </div>
        </div>

        <p class="slider__city">Emily, Los Angeles</p>
      </div>
      <div class="slider__item">
        <div class="slider__body">
          <img
            class="slider__img"
            srcset="
              /src/images/customer-reviews/foto-customer-reviews2.png    1x,
              /src/images/customer-reviews/foto-customer-reviews2@2x.png 2x
            "
            src="/src/images/customer-reviews/foto-customer-reviews2.png"
            width="85"
            height="85"
            alt="reviews2"
          />
          <div class="slider__drope">
            <div class="slider__gradient">
              <p class="slider__text">
                Great service. Everything is very accessible and beautiful.
                Pleased with the range and quality of ice cream. I'm sure this
                service will be my favorite. I love ice cream. I love you Cream
                Code.
              </p>
            </div>
          </div>
        </div>

        <p class="slider__city">Samanta, New York</p>
      </div>
      <div class="slider__item">
        <div class="slider__body">
          <img
            class="slider__img"
            srcset="
              /src/images/customer-reviews/foto-customer-reviews3.png    1x,
              /src/images/customer-reviews/foto-customer-reviews3@2x.png 2x
            "
            src="/src/images/customer-reviews/foto-customer-reviews3.png"
            width="85"
            height="85"
            alt="reviews3"
          />
          <div class="slider__drope">
            <div class="slider__gradient">
              <p class="slider__text">
                Everything is excellent and very tasty. You give emotions by
                selling ice cream. Fabulous. Good luck and see you again.
              </p>
            </div>
          </div>
        </div>

        <p class="slider__city">Mia, Memphis</p>
      </div>
    </div>
  </div>
</section>
