<section class="section">
  <div class="container">
    <h2 class="customer-reviews__titile title-hidden">Customer reviews</h2>
    <div class="customer-reviews__slider slider">
      <div class="slider__item">
        <div class="slider__body">
          <img
            class="slider__img"
            srcset="
              ./images-all/foto-customer-reviews1.png    1x,
              ./images-all/foto-customer-reviews1@2x.png 2x
            "
            src="./images-all/foto-customer-reviews1.png"
            width="85"
            height="85"
            alt="reviews1"
          />
          <div class="slider__drope">
            <div class="slider__gradient">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>

        <p class="slider__city">Emily, Los Angeles</p>
      </div>
      <!-- <div class="slider__item">
        <div class="slider__body">
          <img
            class="slider__img"
            srcset="
              ./images-all/foto-customer-reviews2.png    1x,
              ./images-all/foto-customer-reviews2@2x.png 2x
            "
            src="./images-all/foto-customer-reviews2.png"
            width="85"
            height="85"
            alt="reviews2"
          />
          <div class="slider__drope">
            <div class="slider__gradient">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>

        <p class="slider__city">Samanta, New York</p>
      </div>
      <div class="slider__item">
        <div class="slider__body">
          <img
            class="slider__img"
            srcset="
              ./images-all/foto-customer-reviews3.png    1x,
              ./images-all/foto-customer-reviews3@2x.png 2x
            "
            src="./images-all/foto-customer-reviews3.png"
            width="85"
            height="85"
            alt="reviews3"
          />
          <div class="slider__drope">
            <div class="slider__gradient">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>

        <p class="slider__city">Mia, Memphis</p>
      </div> -->
    </div>
  </div>
</section>
