<section class="gallery section">
  <div class="container">
    <h2 class="title-hidden">Gallery IceCrem Page</h2>
    <ul class="gallery-list">
      <li class="gallery-item column_1">
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                ./images-all/gallery/gallery-1_des.png    1x,
                ./images-all/gallery/gallery-1_des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-1_tab.png    1x,
                ./images-all/gallery/gallery-1_tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-1_mob.png    1x,
                ./images-all/gallery/gallery-1_mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="./images-all/gallery/gallery-1_des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item column_2">
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                ./images-all/gallery/gallery-2_des.png    1x,
                ./images-all/gallery/gallery-2_des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-2_tab.png    1x,
                ./images-all/gallery/gallery-2_tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-2_mob.png    1x,
                ./images-all/gallery/gallery-2_mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="./images-all/gallery/gallery-2_des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                ./images-all/gallery/gallery-3_des.png    1x,
                ./images-all/gallery/gallery-3_des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-3_tab.png    1x,
                ./images-all/gallery/gallery-3_tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-3_mob.png    1x,
                ./images-all/gallery/gallery-3_mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="./images-all/gallery/gallery-3_des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item column_3">
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                ./images-all/gallery/gallery-4_des.png    1x,
                ./images-all/gallery/gallery-4_des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-4_tab.png    1x,
                ./images-all/gallery/gallery-4_tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-4_mob.png    1x,
                ./images-all/gallery/gallery-4_mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="./images-all/gallery/gallery-4_des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery-img small-pictures">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                ./images-all/gallery/gallery-5_des.png    1x,
                ./images-all/gallery/gallery-5_des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-5_tab.png    1x,
                ./images-all/gallery/gallery-5_tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-5_mob.png    1x,
                ./images-all/gallery/gallery-5_mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="./images-all/gallery/gallery-5_des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item column_4">
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                ./images-all/gallery/gallery-6_des.png    1x,
                ./images-all/gallery/gallery-6_des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-6_tab.png    1x,
                ./images-all/gallery/gallery-6_tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-6_mob.png    1x,
                ./images-all/gallery/gallery-6_mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="./images-all/gallery/gallery-6_des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                ./images-all/gallery/gallery-7_des.png    1x,
                ./images-all/gallery/gallery-7_des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-7_tab.png    1x,
                ./images-all/gallery/gallery-7_tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-7_mob.png    1x,
                ./images-all/gallery/gallery-7_mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="./images-all/gallery/gallery-7_des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item column_5">
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                ./images-all/gallery/gallery-8_des.png    1x,
                ./images-all/gallery/gallery-8_des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-8_tab.png    1x,
                ./images-all/gallery/gallery-8_tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-8_mob.png    1x,
                ./images-all/gallery/gallery-8_mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="./images-all/gallery/gallery-8_des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                ./images-all/gallery/gallery-9_des.png    1x,
                ./images-all/gallery/gallery-9_des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-9_tab.png    1x,
                ./images-all/gallery/gallery-9_tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-9_mob.png    1x,
                ./images-all/gallery/gallery-9_mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="./images-all/gallery/gallery-9_des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item column_6">
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                ./images-all/gallery/gallery-10_des.png    1x,
                ./images-all/gallery/gallery-10_des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-10_tab.png    1x,
                ./images-all/gallery/gallery-10_tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images-all/gallery/gallery-10_mob.png    1x,
                ./images-all/gallery/gallery-10_mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="./images-all/gallery/gallery-10_des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
