<section class="gallery section">
  <div class="container">
    <h2 class="title-hidden">Gallery IceCrem Page</h2>
    <ul class="gallery-list">
      <li class="gallery-item column_1">
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                /src/images/gallery/gallery-1des.png    1x,
                /src/images/gallery/gallery-1des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-1tab.png    1x,
                /src/images/gallery/gallery-1tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-1mob.png    1x,
                /src/images/gallery/gallery-1mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="/src/images/gallery/gallery-1des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item column_2">
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                /src/images/gallery/gallery-2des.png    1x,
                /src/images/gallery/gallery-2des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-2tab.png    1x,
                /src/images/gallery/gallery-2tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-2mob.png    1x,
                /src/images/gallery/gallery-2mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="/src/images/gallery/gallery-2des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                /src/images/gallery/gallery-3des.png    1x,
                /src/images/gallery/gallery-3des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-3tab.png    1x,
                /src/images/gallery/gallery-3tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-3mob.png    1x,
                /src/images/gallery/gallery-3mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="/src/images/gallery/gallery-3des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item column_3">
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                /src/images/gallery/gallery-4des.png    1x,
                /src/images/gallery/gallery-4des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-4tab.png    1x,
                /src/images/gallery/gallery-4tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-4mob.png    1x,
                /src/images/gallery/gallery-4mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="/src/images/gallery/gallery-4des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery-img small-pictures">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                /src/images/gallery/gallery-5des.png    1x,
                /src/images/gallery/gallery-5des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-5tab.png    1x,
                /src/images/gallery/gallery-5tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-5mob.png    1x,
                /src/images/gallery/gallery-5mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="/src/images/gallery/gallery-5des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item column_4">
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                /src/images/gallery/gallery-6des.png    1x,
                /src/images/gallery/gallery-6des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-6tab.png    1x,
                /src/images/gallery/gallery-6tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-6mob.png    1x,
                /src/images/gallery/gallery-6mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="/src/images/gallery/gallery-6des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                /src/images/gallery/gallery-7des.png    1x,
                /src/images/gallery/gallery-7des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-7tab.png    1x,
                /src/images/gallery/gallery-7tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-7mob.png    1x,
                /src/images/gallery/gallery-7mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="/src/images/gallery/gallery-7des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item column_5">
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                /src/images/gallery/gallery-8des.png    1x,
                /src/images/gallery/gallery-8des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-8tab.png    1x,
                /src/images/gallery/gallery-8tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-8mob.png    1x,
                /src/images/gallery/gallery-8mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="/src/images/gallery/gallery-8des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                /src/images/gallery/gallery-9des.png    1x,
                /src/images/gallery/gallery-9des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-9tab.png    1x,
                /src/images/gallery/gallery-9tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-9mob.png    1x,
                /src/images/gallery/gallery-9mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="/src/images/gallery/gallery-9des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item column_6">
        <div class="gallery-img">
          <span class="gallery-stroke__up"></span>
          <span class="gallery-stroke__right"></span>
          <span class="gallery-stroke__bottom"></span>
          <span class="gallery-stroke__left"></span>
          <picture>
            <source
              srcset="
                /src/images/gallery/gallery-10des.png    1x,
                /src/images/gallery/gallery-10des@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-10tab.png    1x,
                /src/images/gallery/gallery-10tab@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /src/images/gallery/gallery-10mob.png    1x,
                /src/images/gallery/gallery-10mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="/src/images/gallery/gallery-10des.png"
              alt="Ice-cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
