<div data-modal class="backdrop is-hidden">
  <div class="modal">
    <button data-modal-close class="modal__button--close" type="button">
      <svg
        class="modal__icon--buy"
        width="18px"
        height="18px"
        aria-label="close modal"
      >
        <use href="/src/Images/Icons-main.svg#icon-close"></use>
      </svg>
    </button>

    <form class="form">
      <p class="form__title">Cream Code</p>
      <div class="form__field">
        <label class="form__label" for="name">Name</label>
        <input class="form__input" type="text" name="user-name" id="name" />
        <svg
          class="form__icon"
          width="18"
          height="18"
          aria-label="persone name in modal"
        >
          <use href="/src/Images/Icons-main.svg#icon-persone"></use>
        </svg>
      </div>

      <div class="form__field">
        <label class="form__label" for="tel">Tel</label>
        <input class="form__input" type="tel" name="tel" id="tel" />
        <svg class="form__icon" width="18" height="18" aria-label="telephone">
          <use href="/src/Images/Icons-main.svg#icon-telephone"></use>
        </svg>
      </div>

      <div class="form__field">
        <label class="form__label" for="mail">Email</label>
        <input class="form__input" type="email" name="mail" id="mail" />
        <svg class="form__icon" width="18" height="18" aria-label="email">
          <use href="/src/Images/Icons-main.svg#icon-email"></use>
        </svg>
      </div>

      <!-- checkbox -->
      <div role="grop" class="checkbox__field">
        <div class="checkbox">
          <label class="checkbox__label" for="Ice-Cream">
            <input
              class="checkbox__input"
              type="checkbox"
              name="Ice-Cream"
              id="Ice-Cream"
            />
            <span class="checkbox__icon"></span>
            Ice-Cream
          </label>
        </div>
        <div class="checkbox">
          <label class="checkbox__label" for="Ice-Coffee">
            <input
              class="checkbox__input"
              type="checkbox"
              name="Ice-Coffee"
              id="Ice-Coffee"
            />
            <span class="checkbox__icon"></span>
            Ice-Coffee
          </label>
        </div>
        <div class="checkbox">
          <label class="checkbox__label" for="Milkshake">
            <input
              class="checkbox__input"
              type="checkbox"
              name="Milkshake"
              id="Milkshake"
            />
            <span class="checkbox__icon"></span>
            Milkshake
          </label>
        </div>
      </div>

      <label class="form__label" for="comment">Comment</label>
      <textarea
        class="form__textarea"
        name="comment"
        id="comment"
        placeholder="Leave a comment"
      ></textarea>

      <div class="checkbox">
        <label class="checkbox__label" for="policy">
          <input
            class="checkbox__input"
            type="checkbox"
            name="agreement"
            id="policy"
          />
          <span class="checkbox__icon"></span>
          I accept Privacy Policy
        </label>
      </div>

      <button class="modal__button--submit" type="submit">Buy</button>
    </form>
  </div>
</div>
