
<div class="backdrop-contacts is-hidden" data-modal-franchise>
  <div class="modal__franchise">
    <div class="modal__close--pos">
      <button class="modal__button-close" data-modal-franchise-close>
        <svg class="modal__icon" width="18" height="18" aria-label="close map">
          <use href="/src/images/sprite.svg#icon-close_40px-1"></use>
        </svg>
      </button>
    </div>
    <div class="modal__container">
      <form class="form">
        <p class="form__title--franchise">If you are interested in the issue of cooperation, fill out the form and we will contact you</p>
        <div class="form__field">
          <label class="form__label" for="name">Name</label>
          <input class="form__input" type="text" name="user-name" id="name" />
          <svg
            class="form__icon"
            width="18"
            height="18"
            aria-label="persone name in modal"
          >
            <use href="/src/images/sprite.svg#icon-persone"></use>
          </svg>
        </div>  
        <div class="form__field">
          <label class="form__label" for="tel">Tel</label>
          <input class="form__input" type="tel" name="tel" id="tel" />
          <svg class="form__icon" width="18" height="18" aria-label="telephone">
            <use href="/src/images/sprite.svg#icon-telephone"></use>
          </svg>
        </div>  
        <div class="form__field">
          <label class="form__label" for="mail">Email</label>
          <input class="form__input" type="email" name="mail" id="mail" />
          <svg class="form__icon" width="18" height="18" aria-label="email">
            <use href="/src/images/sprite.svg#icon-email"></use>
          </svg>
        </div>  
        <button class="modal__button--submit" type="submit">Sand</button>
      </form>     
      
    </div>
  </div>
</div>
