<section class="section section__products" id="products">
  <div class="container container__products">
    <p class="products__suptitle">100% natural</p>
    <h2 class="products__title">products</h2>

    <ul class="product__list">
      <li class="product__item">
        <div class="front card card--first">
          <h3 class="card__title">ice cream</h3>
          <p class="card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.<span
              class="card__text-mobile"
              >dolore magna aliqua facilisis.</span
            >
          </p>

          <button class="card__button" type="button">
            <svg class="card__icon">
              <use href="/src/images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>

        <div class="back card card--first">
          <h3 class="card__title">ice cream</h3>
          <ul class="card__menu">
            <li class="card__item">
              <h4 class="card__name">Vanilla</h4>
              <p class="card__price">$3.50</p>
            </li>

            <li class="card__item">
              <h4 class="card__name">Chocolate</h4>
              <p class="card__price">$3.50</p>
            </li>

            <li class="card__item">
              <h4 class="card__name">Strawberry marshallow</h4>
              <p class="card__price">$3.50</p>
            </li>
          </ul>

          <button class="card__button" type="button">
            <svg class="card__icon">
              <use href="/src/images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="product__item">
        <div class="front card card--second">
          <h3 class="card__title">ice coffee</h3>
          <p class="card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.<span
              class="card__text-mobile"
              >dolore magna aliqua facilisis.</span
            >
          </p>

          <button class="card__button" type="button">
            <svg class="card__icon">
              <use href="/src/images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>

        <div class="back card card--second">
          <h3 class="card__title">ice coffee</h3>
          <ul class="card__menu">
            <li class="card__item">
              <h4 class="card__name">Shakerato</h4>
              <p class="card__price">$4.99</p>
            </li>

            <li class="card__item">
              <h4 class="card__name">Iced Cappuccino</h4>
              <p class="card__price">$4.99</p>
            </li>

            <li class="card__item">
              <h4 class="card__name">Espresso Tonic</h4>
              <p class="card__price">$4.99</p>
            </li>
          </ul>

          <button class="card__button" type="button">
            <svg class="card__icon">
              <use href="/src/images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="product__item">
        <div class="front card card--third">
          <h3 class="card__title">milkshakes</h3>
          <p class="card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.<span
              class="card__text-mobile"
              >dolore magna aliqua facilisis.</span
            >
          </p>

          <button class="card__button" type="button">
            <svg class="card__icon">
              <use href="/src/images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>

        <div class="back card card--third">
          <h3 class="card__title">milkshakes</h3>
          <ul class="card__menu">
            <li class="card__item">
              <h4 class="card__name">Cool mint</h4>
              <p class="card__price">$5.99</p>
            </li>

            <li class="card__item">
              <h4 class="card__name">Triple nut caramel</h4>
              <p class="card__price">$5.99</p>
            </li>

            <li class="card__item">
              <h4 class="card__name">Neapolitan</h4>
              <p class="card__price">$5.99</p>
            </li>
          </ul>

          <button class="card__button" type="button">
            <svg class="card__icon">
              <use href="/src/images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
