.contacts-container {
    @media screen and (min-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
    }
}
.contacts {
    padding-top: 30px;
    padding-bottom: 40px;
    background-image: linear-gradient(to bottom,
            var(--dominant-text-color) 24%,
            var(--backgroung-color) 24%,
            var(--backgroung-color) 76%);

    @media (min-width: 768px) {
        padding-top: 40px;


        background-image: linear-gradient(to bottom,
                var(--dominant-text-color) 47%,
                var(--backgroung-color) 47%,
                var(--backgroung-color) 53%);
    }

    @media (min-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 60px;
        background-image: linear-gradient(to bottom,
                var(--dominant-text-color) 20%,
                var(--backgroung-color) 20%,
                var(--backgroung-color) 80%);
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    text-align: left;

    @media (min-width: 768px) {
        flex-direction: row;
    }

}

.content__list {
    display: flex;
    flex-direction: column;
    background-color: var(--dominant-text-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px 32px;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    @media (min-width: 768px) {
        &:not(:last-child) {
            margin-bottom: 0;
            margin-right: 32px;
        }
    }

    @media (min-width: 1200px) {
        padding: 40px;
    }

}

.content__block {
    font-size: 12px;
    color: var(--usual-text-color);
    padding-bottom: 24px;
    border-bottom: 1px solid var(--quotes-color);

    @media (min-width: 768px) {
        font-size: 14px;
        padding-bottom: 32px;
    }

    @media (min-width: 1200px) {
        font-size: 16px;
    }
}

.content__block--day {
    padding-top: 24px;

    @media (min-width: 768px) {
        padding-top: 32px;
    }
}

.content__name {
    display: block;
    width: 80px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.35;
    letter-spacing: 0.04em;
    color: var(--dominant-text-color);
    text-align: center;
    border-radius: 4px;
    background-color: var(--agency-color);
    margin-bottom: 20px;

    &--truck {
        background-color: var(--alternative-agency-color);
        width: 130px;
    }


    @media (min-width: 768px) {
        font-size: 16px;
        line-height: 1.875;
        width: 73px;
        height: 28px;
        border-radius: 6px;
        margin-bottom: 32px;

        &--truck {
            width: 138px;
        }
    }
}

.content__city {
    line-height: 1.86;
    letter-spacing: 0.04em;
    margin-bottom: 8px;

    @media (min-width: 768px) {
        margin-bottom: 12px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 8px;
    }
}

.content__text {
    line-height: 1.5;
    color: var(--alternative-text-color);

    @media (min-width: 768px) {
        line-height: 1.55;
    }

    @media (min-width: 1200px) {
        line-height: 1.8;
    }
}

.content__day {
    line-height: 1.8;

    @media (min-width: 768px) {
        line-height: 1.85;
    }
}


.content__time {
    line-height: 1.86;
    color: var(--title-accent-color);

    @media (min-width: 768px) {
            margin-top: -3px;
        }

    @media (min-width: 1200px) {
         margin-top: 0;
    } 
}

.space {
    margin-bottom: 8px;

    @media (min-width: 768px) {
        line-height: 1.64;
        margin-bottom: 12px;
    }
}


.adress {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    color: var(--alternative-text-color);

    padding-top: 24px;
    
    @media (min-width: 768px) {
        font-size: 14px;
        line-height: 1.7;
    }
    
    @media (min-width: 1200px) {
        font-size: 16px;
    }

    @media (min-width: 768px) {
        padding-top: 32px;
    }
}


// .contacts__buttoms {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 161px;

//     margin-top: 32px;
//     margin-left: auto;
//     margin-right: auto;


//     @media (min-width: 768px) {
//         flex-direction: row;
//         margin-top: 60px;
//         width: 100%;
//     }
// }

.button__contacts {
    display: block;
    font-family: DM Sans;
    font-weight: 700;
    line-height: 1.86;
    text-align: center;
    align-items: center;
    color: var(--dominant-text-color);
    background-color: var(--slider-color);

    border-radius: 22px;
    border: 0;
    padding: 5px 17px;

    width: 161px;
    height: 44px;

    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;

    @include buttons(background-color);

    &:hover,
    &:focus {
        background-color: var(--border-mobile-menu-color);
    }   

    @media (min-width: 768px) {
        display: inline;
        padding: 5px 30px;
        width: 192px;
        margin-top: 60px;
    }

    @media (min-width: 1200px) {
        padding: 5px 35px;
        width: 198px;
    }
}

.button__contacts--invers {
    
    color: var(--slider-color);
    background-color: var(--dominant-text-color);
    margin-top: 10px;
    padding: 5px 32px;
    @include buttons(background-color);

    &:hover,
    &:focus {
        background-color: var(--button-hover-gray);
    }

    @media (min-width: 768px) {
        
        margin-top: 60px;
        margin-left: 15px;
        margin-right: auto;
        padding: 5px 38px;
        width: 175px;
    }

    @media (min-width: 1200px) {
        margin-left: 12px;
        padding: 5px 36px;
        width: 168px;
    }
}

.arrow {
    margin-left: 7px;

    @media (min-width: 768px) {
        margin-left: 13px;
    }

    @media (min-width: 1200px) {
        margin-left: 9px;
    }

}