.header {
  background-color: var(--accent-backgroung-color);
  padding-top: 8px;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 36px;
  }
<<<<<<< Updated upstream
}
.site__nav {
  display: flex;


.site-nav {
    display: flex;
    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  }

.menu {
    display: none;
      @media screen and (min-width: 1200px) {
        display: flex;
        gap: 35px;
        align-items: center;
      }
    }
=======
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}
.nav__menu {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 35px;
    align-items: center;
>>>>>>> f06554a8fd51f9a5f732b0dd39f2bcf7059bd46b
  }

=======
  .site-nav {
    display: flex;
    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  }
  .menu {
    display: none;
    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 35px;
      align-items: center;
    }
  }
}
>>>>>>> Stashed changes
.burger {
  border: none;
  background-color: var(--accent-backgroung-color);
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.button-tablet {
  display: none;
  width: 160px;
  height: 44px;
  border: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent-text-color);
  background-color: var(--dominant-text-color);
  margin-left: 32px;
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
  &:hover,
  &:focus {
    background-color: var(--alternative-agency-color);
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.icon-arrow {
  margin-left: 10px;
}
