.header {
  top: 0;
  position: absolute;
  width: 100%;
  padding-top: 8px;
  overflow: hidden;
  z-index: 20;
  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 36px;
  }
}

.site-nav {
  display: flex;
}

.logo {
  margin-right: 128px;
}

.burger {
  background-color: transparent;
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 35px;
    align-items: center;
  }
}

.button-tablet {
  display: none;
  width: 160px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent-text-color);
  background-color: var(--dominant-text-color);
  margin-left: 32px;

  @media screen and (min-width: 1200px) {
    margin-left: 141px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: var(--alternative-agency-color);
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.icon-arrow {
  margin-left: 10px;
}
