.header-container {
    width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
        @media (min-width: 768px) {
            max-width: 768px;
          }
  @media screen and (min-width: 768px) {
      padding-left: 32px;
      padding-right: 32px;
    }
         @media (min-width: 1200px) {
           max-width: 1200px;
           padding-left: 16px;
           padding-right: 16px;
         }
}





.header {
  padding-top: 8px;
  top: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 11;
  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 37px;
  }
}

.site-nav {
  display: flex;
}

.logo {
  @media screen and (min-width: 1200px) {
    margin-right: 128px;
  }
}

.menu {
    display: none;
    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 35px;
      align-items: center;
    }
  }

.burger {
  background-color: transparent;
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.button-tablet {
  display: none;
  width: 160px;
  height: 44px;
  border: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent-text-color);
  background-color: var(--dominant-text-color);
  
  @include buttons(background-color);

  margin-left: 32px;

  &:hover,
  &:focus {
    background-color: var(--button-hover-gray);

  }
  @media screen and (min-width: 768px) {
    display: block;
  }

    @media screen and (min-width: 1200px) {
     margin-left: 141px;;
    }

}
.icon-arrow {
  margin-left: 10px;
}
