.hero {
  padding-left: 20px;
  padding-top: 194px;


  position: relative;
    overflow: hidden;
  height: 502px;
  margin: 0 auto;
  background-color: var(--accent-backgroung-color);



  @media screen and (min-width: 768px) {
    padding-left: 32px;

      height: 416px;
    }

  @media screen and (min-width: 1200px) {
    height: 664px;
    }

}


.hero-picture {

  background-color: var(--title-accent-color);
  width: 346px;
  height: 344px;
  border-radius: 50%;
  position: absolute;
  top: 83;
  right: -62;

}

.hero__title {
  max-width: 218px;
  position: relative;


  font-family: 'Titan One';
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  color: var(--dominant-text-color);
}

// .hero__title__word {
//   font-size: 48px;
//   line-height: 0.95;
//   color: var(--accent-text-color);
// }










// .hero__wrap {
//   display: flex;
// }



// .hero__title--button {
//   display: inline-flex;
//   margin-top: 20px;
// }
// .hero__title__button:first-child {
//   margin-right: 8px;
// }
// .hero__title__button {
//   background-color: var(--accent-text-color);
//   height: 24px;
//   padding-left: 15px;
//   padding-right: 15px;
//   font-weight: 400;
//   font-size: 8px;
//   line-height: 1.25;
//   color: var(--dominant-text-color);
//   border: none;
//   border-radius: 20px;
// }
// .hero__title__button:hover {
//   background-color: var(--dominant-text-color);
//   color: var(--accent-text-color);
// }

// .hero__ice-cream {
//   margin-top: 34px;
//   margin-left: auto;
//   @media screen and (min-width: 767px) {
//   }
// }
// .hero__title__wrap {
//   position: absolute;
//   margin-top: 136px;
//   z-index: 10;
//   @media screen and (min-width: 768px) {
//     margin-top: 20px;
//   }
// }
// .hero__circle {
//   right: 0px;
//   position: absolute;
//   top: 82px;
// }
// .hero__ice-cream-pic {
//   position: relative;
//   margin-right: 20px;
// }
