.mobile__menu {
  position: absolute;
  top: 0%;
  left: 100%;
  width: 250px;
  height: 504px;

  background-color: #e17992;
  transition: transform 250ms linear 250ms;
  @media screen and (min-width: 768px) {
    width: 254px;
    height: 100vh;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu__close {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.close {
  background-color: #e17992;
  margin-right: 20px;
  padding: 6px;
}

.buy-wrap {
  display: flex;
  justify-content: center;
}
.buy-btn {
  position: relative;
  width: 209px;
  height: 44px;

  border: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  margin-top: 26px;
  margin-bottom: 20px;
  color: var(--accent-text-color);

  &:hover {
    background: #ecebeb;
  }
  @media screen and (min-width: 768px) {
    width: 180px;
  }
}

.buy--arrow {
  margin-left: 14px;
  @media screen and (min-width: 768px) {
    margin-left: 10px;
  }
}
.menu__item {
  border-top: 1px solid #e18298;
  padding: 12px 0px;

  &:last-child {
    border-bottom: 1px solid #e18298;
  }
}

.menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  color: var(--dominant-text-color);
  margin-left: 20px;

  &:hover {
    color: var(--accent-text-color);
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0px;
  }
}
