.modal {
  position: relative;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: calc(100% - 30px);
  max-width: 450px;

  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  background-color: var(--dominant-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  transition: transform 250ms linear;

  .is-hidden & {
    transform: translate(-50%, -50%) scale(0.2);
  }
  z-index: 20;
}

.modal__button--close {
  position: absolute;
  right: 12px;
  top: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;

  color: black;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  z-index: 20;

  @media screen and (max-width: 767px) {
    right: 8px;
    top: 8px;
  }
}


.modal__button--submit {
  display: block;
  width: 160px;
  height: 44px;
  border: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.31;
  color: var(--accent-text-color);
  margin: 0 auto;
  border: 3px solid var(--slider-color);
  background-color: transparent;

  transition: all 250ms linear;
  &:hover {
    background-color: var(--slider-color);
    color: var(--dominant-text-color);
  }
}

.modal__icon {
  transition: fill 250ms linear;

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }
}

.form {
  margin: 0 auto;
  padding: 40px;

  @media screen and (max-width: 767px) {
    padding: 25px;
  }
}

.form__title {
  font-family: var(--alternative-font-family);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--slider-color);

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 50px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  margin-bottom: 4px;
  color: var(--title-accent-color);
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 12px 42px;
  outline: none;
  transition: border-color 250ms linear;

  &:focus {
    border-color: var(--slider-color);
  }
}

.form__input ~ .form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: rgba(33, 33, 33, 0.6);

  transition: fill 250ms linear;
  outline: none;
}

.form__input:focus ~ .form__icon {
  fill: var(--slider-color);
}

.form__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  padding: 12px 16px;

  transition: border 250ms linear;
  margin-top: 4px;
  margin-bottom: 4px;

  &:focus {
    border: 1px solid var(--slider-color);
  }
}

.checkbox__field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;

  @media screen and (max-width: 767.98px) {
    max-height: 20px;
    gap: 10px;
  }
}

.checkbox {
  margin-bottom: 30px;
  position: relative;
  text-align: center;

  @media (min-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.checkbox__label {
  font-family: var(--primary-font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.71;
  color: var(--slider-color);

  @media screen and (max-width: 420px) {
    font-size: 10px;
  }

  @media (max-width: 1199px) {
    line-height: 1.14;
  }
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  background-color: inherit;
  border-radius: 2px;
  border: 2px solid rgba(33, 33, 33, 0.6);

  transition: background-color 250ms linear, border-color 250ms linear,
    background-image 250ms linear;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--slider-color);
  border-color: var(--slider-color);

  background-image: url('../../Icons/checkmark.svg');
  background-size: contain;
  background-origin: border-box;
  background-position: center;
}
