.backdrop-contacts {
  padding: 20px 15px 20px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;

  opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition-property: opacity, transform, visibility;
    transition-duration: 400ms;
    transition-timing-function: earse;

  overflow-y: scroll;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: scale(0.5);
  }

  @media (min-width: 768px) {
    padding: 94px 15px 94px 15px;
  }
}

.modal__franchise {
  position: relative;  
  padding: 40px 15px 40px 15px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: scale(1) translate(-50%, -50%);

  border-radius: 4px;

  max-width: 680px;
 
    opacity: 1;
    visibility: visible;
    background-color: var(--backgroung-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  
    transition-property: transform,
    opacity,
    visibility;
    transition-duration: 400ms;
    transition-timing-function: earse;

    @media (min-width: 768px) {
      padding: 40px;
    
    }

}


.backdrop-contacts.is-hidden .modal-map {
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(1.5);
}


.modal__close--pos {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__icon {
  position: absolute;
  transform: translate(-50%, -50%);
}

.modal__button-close {
  position: relative;
  display: block;

  width: 30px;
  height: 30px;
  cursor: pointer;

  border-radius: 50%;
  background: var(--dominant-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--usual-text-color);
  @include buttons(background-color);

  &:hover,
  &:focus {
    background-color: var(--button-hover-gray);
  }
}

.form__title--franchise {
  font-family: var(--alternative-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--slider-color);

  margin-bottom: 40px;

}

