.container__products {
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.products__suptitle {
  display: block;
  font-family: var(--alternative-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: var(--title-accent-color);

  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;

    margin-bottom: 18px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;

    margin-bottom: 16px;
  }
}

.products__title {
  font-family: var(--alternative-font-family);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--slider-color);

  margin-bottom: 148px;

  @media screen and (min-width: 768px) {
    font-size: 48px;

    margin-bottom: 158px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;

    margin-bottom: 281px;
  }
}

.product__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.product__item {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  perspective: 1500px;

  min-height: 489px;

  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 16px) / 3);
    min-height: 473px;

    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 2 * 32px) / 3);
    min-height: 535px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767.98px) {
      margin-bottom: 140px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 16px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 32px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding-top: 160px;

  @media screen and (min-width: 768px) {
    padding-top: 118px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 165px;
  }

  &::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;

    @media screen and (max-width: 767.98px) {
      top: -140px;
      width: 280px;
      height: 280px;
    }

    @media screen and (min-width: 768px) {
      top: -138px;
      width: 224px;
      height: 224px;
    }

    @media screen and (min-width: 1200px) {
      top: -261px;
      width: 368px;
      height: 394px;
    }
  }
}

// flipp
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;

  transition: transform 500ms linear;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.product__item.is-flipped .front {
  transform: rotateY(180deg);
}

.product__item.is-flipped .back {
  transform: rotateY(360deg);
}

// ---------------------------------------------
.card--first {
  background-color: var(--accent-backgroung-color);

  &::before {
    background-image: url(/src/images/products/mobile/ice-cream-mobile@1x.png);

    @media (min-resolution: 2dppx),
      (min-resolution: 192dpi),
      (min-device-pixel-ratio: 2) {
      background-image: url(/src/images/products/mobile/ice-cream-mobile@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    &::before {
      background-image: url(/src/images/products/tablet/ice-cream-tablet@1x.png);

      @media (min-resolution: 2dppx),
        (min-resolution: 192dpi),
        (min-device-pixel-ratio: 2) {
        background-image: url(/src/images/products/tablet/ice-cream-tablet@2x.png);
      }
    }
  }

  @media screen and (min-width: 1200px) {
    &::before {
      background-image: url(/src/images/products/desctop/ice-cream-desctop@1x.png);

      @media (min-resolution: 2dppx),
        (min-resolution: 192dpi),
        (min-device-pixel-ratio: 2) {
        background-image: url(/src/images/products/desctop/ice-cream-desctop@2x.png);
      }
    }
  }
}

.card--second {
  background-color: var(--agency-color);

  &::before {
    background-image: url(/src/images/products/mobile/ice-coffee-mobile@1x.png);

    @media (min-resolution: 2dppx),
      (min-resolution: 192dpi),
      (min-device-pixel-ratio: 2) {
      background-image: url(/src/images/products/mobile/ice-coffee-mobile@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    &::before {
      background-image: url(/src/images/products/tablet/ice-coffee-tablet@1x.png);

      @media (min-resolution: 2dppx),
        (min-resolution: 192dpi),
        (min-device-pixel-ratio: 2) {
        background-image: url(/src/images/products/tablet/ice-coffee-tablet@2x.png);
      }
    }
  }

  @media screen and (min-width: 1200px) {
    &::before {
      background-image: url(/src/images/products/desctop/ice-coffee-desctop@1x.png);

      @media (min-resolution: 2dppx),
        (min-resolution: 192dpi),
        (min-device-pixel-ratio: 2) {
        background-image: url(/src/images/products/desctop/ice-coffee-desctop@2x.png);
      }
    }
  }
}

.card--third {
  background-color: var(--alternative-agency-color);

  &::before {
    background-image: url(/src/images/products/mobile/milkshake-mobile@1x.png);

    @media (min-resolution: 2dppx),
      (min-resolution: 192dpi),
      (min-device-pixel-ratio: 2) {
      background-image: url(/src/images/products/mobile/milkshake-mobile@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    &::before {
      background-image: url(/src/images/products/tablet/milkshake-tablet@1x.png);

      @media (min-resolution: 2dppx),
        (min-resolution: 192dpi),
        (min-device-pixel-ratio: 2) {
        background-image: url(/src/images/products/tablet/milkshake-tablet@2x.png);
      }
    }
  }

  @media screen and (min-width: 1200px) {
    &::before {
      background-image: url(/src/images/products/desctop/milkshake-desctop@1x.png);

      @media (min-resolution: 2dppx),
        (min-resolution: 192dpi),
        (min-device-pixel-ratio: 2) {
        background-image: url(/src/images/products/desctop/milkshake-desctop@2x.png);
      }
    }
  }
}

// --------------------------------------------
.card__title {
  position: relative;
  font-family: var(--alternative-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--dominant-text-color);

  margin-bottom: 70px;

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.card__title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -35px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--dominant-text-color);

  box-shadow: 10px 0 0 var(--dominant-text-color),
    -10px 0 0 var(--dominant-text-color);
}

.card__text {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.48;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--dominant-text-color);

  margin: 0 auto 32px;
  padding-left: 41px;
  padding-right: 39px;

  @media screen and (min-width: 768px) {
    line-height: 1.76;
    padding: 0 32px;
  }

  @media screen and (min-width: 1200px) {
    line-height: 1.65;
    font-size: 16px;
    padding-left: 64px;
    padding-right: 63px;
    margin-bottom: 60px;
  }
}

.card__text-mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.card__button {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);

  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: var(--dominant-text-color);
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    bottom: 60px;
  }
}

.card__icon {
  fill: var(--accent-text-color);
  width: 12px;
  height: 12px;
}

.card__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 41px;
  padding-right: 39px;
  gap: 20px;

  @media screen and (min-width: 768px) {
    line-height: 1.76;
    padding: 0 32px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    padding-left: 64px;
    padding-right: 63px;
    margin-bottom: 60px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.card__name,
.card__price {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.52;
  text-align: start;
  letter-spacing: 0.04em;

  max-width: 200px;
  color: var(--dominant-text-color);
}
