.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 16px;

  & button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 50%;
  }

  @include table {
    margin-top: 32px;
  }
}
.slick-active button {
  background-color: transparent;
  background-image: url(../images-all/scroll-home.svg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}
